<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>资源权限管理</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>

    <body class="layui-layout-body">
    <!--左边的导航条-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">WebMaple</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="index">
                        <i class="layui-icon layui-icon-home"></i>
                        主页
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="spider">
                            <i class="layui-icon layui-icon-layer"></i>
                            爬虫列表
                        </a></dd>
                        <dd><a href="javascript:;">
                            <i class="layui-icon layui-icon-template-1"></i>
                            节点列表
                        </a></dd>
                        <dd><a href="timed">
                            <i class="layui-icon layui-icon-time"></i>
                            定时任务
                        </a></dd>
                        <dd><a href="template">
                            <i class="layui-icon layui-icon-template"></i>
                            爬虫组件与定制化
                        </a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="user">
                        <i class="layui-icon layui-icon-username"></i>
                        用户中心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="user">
                            <i class="layui-icon layui-icon-tabs"></i>
                            基本资料
                        </a></dd>
                        <dd><a href="javascript:;">
                            <i class="layui-icon layui-icon-auz"></i>
                            资源权限管理
                        </a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--/左边的导航条-->

    <!--内容主体区域-->
    <div class="layui-body">
        <div class="layui-container" style="padding: 15px;">
            <div class="padding: 20px; background-color: #F2F2F2;">
                <!--资源列表-->
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4">
                        <!--服务器-->
                        <div class="layui-card" style="height: 150px">
                            <div class="layui-card-header">
                                <i class="layui-icon layui-icon-console" style="font-size: 30px;"></i>
                                服务器
                            </div>
                            <div class="layui-card-body">
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                    <i class="layui-icon layui-icon-ok"></i> 您有权限
                                </button>
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                    <i class="layui-icon layui-icon-key"></i> 查看信息
                                </button>
                            </div>
                        </div>
                        <!--数据库-->
                        <div class="layui-card" style="height: 150px">
                            <div class="layui-card-header">
                                <i class="layui-icon layui-icon-template-1" style="font-size: 30px;"></i>
                                数据库
                            </div>
                            <div class="layui-card-body">
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                    <i class="layui-icon layui-icon-ok"></i> 您有权限
                                </button>
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                    <i class="layui-icon layui-icon-key"></i> 查看信息
                                </button>
                            </div>
                        </div>
                        <!--服务器-->
                        <div class="layui-card" style="height: 150px">
                            <div class="layui-card-header">
                                <i class="layui-icon layui-icon-console" style="font-size: 30px;"></i>
                                服务器
                            </div>
                            <div class="layui-card-body">
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                    <i class="layui-icon layui-icon-close"></i> 您没有权限
                                </button>
                                <button type="button" class="layui-btn layui-btn-radius layui-btn-disabled layui-btn-sm">
                                    <i class="layui-icon layui-icon-key"></i> 查看信息
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/资源列表-->
        </div>
    </div>

    <script type="text/javascript" src="../js/node.js"></script>

    </body>
</html>