<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
        <script src="/echarts/dist/echarts.min.js"></script>
    </head>

    <body class="layui-layout-body layui-bg-gray">
        <!--左边的导航条-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">WebMaple</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-home"></i>
                            主页
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="spider">
                                <i class="layui-icon layui-icon-layer"></i>
                                爬虫列表
                            </a></dd>
                            <dd><a href="node">
                                <i class="layui-icon layui-icon-template-1"></i>
                                节点列表
                            </a></dd>
                            <dd><a href="timed">
                                <i class="layui-icon layui-icon-time"></i>
                                定时任务
                            </a></dd>
                            <dd><a href="template">
                                <i class="layui-icon layui-icon-template"></i>
                                爬虫定制化
                            </a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            用户中心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="user">
                                <i class="layui-icon layui-icon-tabs"></i>
                                基本资料
                            </a></dd>
                            <dd><a href="auth">
                                <i class="layui-icon layui-icon-auz"></i>
                                资源权限管理
                            </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--/左边的导航条-->

        <!--内容主体区域-->
        <div class="layui-body">
            <div style="padding: 15px;">
                <div class="layui-container">
                    <div class="padding: 20px; background-color: #F2F2F2;">
                        <!--数据总览-->
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md4">
                                <!--节点数据-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-template-1" style="font-size: 30px;"></i>
                                        节点数
                                    </div>
                                    <div class="layui-card-body">
                                        共有
                                        <span class="layui-badge layui-bg-blue" id="nodeNum">0</span>
                                        个节点
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <!--爬虫数据-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-layer" style="font-size: 30px;"></i>
                                        爬虫数
                                    </div>
                                    <div class="layui-card-body">
                                        共有
                                        <span class="layui-badge layui-bg-green" id="spiderNum">0</span>
                                        个爬虫
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <!--定时任务数据-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-time" style="font-size: 30px;"></i>
                                        定时任务数
                                    </div>
                                    <div class="layui-card-body">
                                        共有
                                        <span class="layui-badge layui-bg-cyan" id="timedJobNum">0</span>
                                        个定时任务
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/数据总览-->

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md6">
                                <!--爬取进度-->
                                <div class="layui-card" style="height: 300px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-senior" style="font-size: 30px;"></i>
                                        爬取进度
                                    </div>
                                    <div class="layui-card-body">
                                        <tr id="advance">
                                            <th>
                                                https://www.baidu.com
                                                <div class="layui-progress layui-progress-big" lay-showPercent="true">
                                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="20%"></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </div>
                                </div>
                                <!--/爬取进度-->

                                <!--周访问量-->
                                <div class="layui-card" style="height: 300px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-survey" style="font-size: 30px;"></i>
                                        周访问量
                                    </div>
                                    <div class="layui-card-body">
                                        <div id="visits" style="width: 500px;height:250px;"></div>
                                    </div>
                                </div>
                                <!--/周访问量-->
                            </div>

                            <!--时间线-->
                            <div class="layui-col-md6">
                                <div class="layui-card" style="height: 620px">
                                    <div class="layui-card-header">
                                        <i class="layui-icon layui-icon-date" style="font-size: 30px;"></i>
                                        WebMaple时间线
                                    </div>
                                    <div class="layui-card-body">
                                        <ul class="layui-timeline">
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">2020-01-29</h3>
                                                    <p>
                                                        admin模块前端稳定推进中
                                                        <br>worker模块测试开始！
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">2020-01-15</h3>
                                                    <p>
                                                        admin模块接口与前端框架完成
                                                        <br>分离出common模块
                                                        <br>worker模块开发中...
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                <div class="layui-timeline-content layui-text">
                                                    <h3 class="layui-timeline-title">2020-01-02</h3>
                                                    <p>
                                                        WebMaple开始编写！
                                                        <br>admin模块创建...
                                                        <br>worker模块创建...
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="layui-timeline-item">
                                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                <div class="layui-timeline-content layui-text">
                                                    <div class="layui-timeline-title">past...</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/时间线-->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/index.js"></script>

    </body>
</html>