<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>

    <body class="layui-layout-body">
        <div class="layui-body">
            <div class="layui-container">
                <!--登录-->
                <div class="layui-row">
                    <div class="layui-col-md5 layui-col-md-offset2" style="margin-top: 15%">
                        <div style="text-align: center">
                            <div >
                                <form class="layui-form" action="login">
                                    <div class="layui-form-item">
                                        <lable style="
                                      margin-left: 100px;
                                      font-family: Dubai;
                                      font-size: xx-large;">WebMaple Login</lable>
                                    </div>
                                    <!--用户名-->
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            <i class="layui-icon layui-icon-username"></i>
                                        </label>
                                        <div class="layui-input-block">
                                            <input type="text" name="username" required lay-verify="required"
                                                   placeholder="用户名或手机号" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <!--密码-->
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">
                                            <i class="layui-icon layui-icon-password"></i>
                                        </label>
                                        <div class="layui-input-block">
                                            <input type="password" name="password" required  lay-verify="required"
                                                   placeholder="密码" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </form>

                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-filter="">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    <button class="layui-btn" lay-filter="register" onclick="register()">注册</button>
                                </div>

                                <div class="layui-input-block" style="margin-top: 20px;">
                                    <a href="#" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal">忘记密码？</a>
                                    <a class="layui-btn-sm" lay-filter="fetchPassword" href="showfindpassword">找回密码</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--/登录-->

                <!--注册表单-->
                <form class="layui-form" id="registForm" style="display:none; padding-top: 50px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" required  lay-verify="required" placeholder="请输入手机号"
                                   autocomplete="on" class="layui-input" id="phone" style="width:200px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户昵称</label>
                        <div class="layui-input-block">
                            <input type="text" name="nickname" required  lay-verify="required" placeholder="请输入用户昵称"
                                   autocomplete="on" class="layui-input" id="nickname" style="width:200px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="pass" required  lay-verify="required" placeholder="请输入密码"
                                   autocomplete="on" class="layui-input" id="pass" style="width:200px">
                        </div>
                    </div>
                </form>
                <!--/注册表单-->
            </div>
        </div>
    </body>

    <script type="text/javascript" src="../js/login.js"></script>

</html>