<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>节点列表</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
        <script src="/echarts/dist/echarts.min.js"></script>
    </head>

    <body class="layui-layout-body">
        <!--左边的导航条-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">WebMaple</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                            主页
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="spider">
                                <i class="layui-icon layui-icon-layer"></i>
                                爬虫列表
                            </a></dd>
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-template-1"></i>
                                节点列表
                            </a></dd>
                            <dd><a href="timed">
                                <i class="layui-icon layui-icon-time"></i>
                                定时任务
                            </a></dd>
                            <dd><a href="template">
                                <i class="layui-icon layui-icon-template"></i>
                                爬虫定制化
                            </a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="user">
                            <i class="layui-icon layui-icon-username"></i>
                            用户中心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="user">
                                <i class="layui-icon layui-icon-tabs"></i>
                                基本资料
                            </a></dd>
                            <dd><a href="auth">
                                <i class="layui-icon layui-icon-auz"></i>
                                资源权限管理
                            </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--/左边的导航条-->

        <!--内容主体区域-->
        <div class="layui-body">
            <div class="layui-container" style="padding: 15px;">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">节点列表</li>
                        <li>添加节点</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <!--节点列表-->
                            <div class="layui-row">
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>分布式节点列表</legend>
                                </fieldset>
                                <table class="layui-table" lay-data="{height:550, url:'/nodeList', page:true,
                        id:'nodes', toolbar: '#headBar'}" lay-filter="nodes" >
                                    <thead>
                                    <tr>
                                        <th lay-data="{checkbox:true}"></th>
                                        <th lay-data="{field:'ip', width:150}">ip地址</th>
                                        <th lay-data="{field:'type', width:150}">节点类型</th>
                                        <th lay-data="{field:'name', width:150}">节点名称</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <!--/节点列表-->

                            <!--新建节点表单-->
                            <form class="layui-form" id="nodeInfo" style="display:none; padding-top: 50px;">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">节点ip</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入ip地址"
                                               autocomplete="on" class="layui-input" id="ip" style="width:200px">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">节点名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入节点名称"
                                               autocomplete="on" class="layui-input" id="name" style="width:200px">
                                    </div>
                                </div>
                            </form>
                            <!--/新建节点表单-->
                        </div>
                        <div class="layui-tab-item">
                            <!--添加节点-->
                            <fieldset class="layui-elem-field">
                                <legend>添加节点说明</legend>
                                <div class="layui-field-box">
                                    目前只支持WebMagic+ springboot项目打成jar包上传服务器；<br>
                                    请确保自己输入的服务器ip、用户名以及密码正确。<br>
                                    其余情况，目前只能手动访问服务器部署节点。 <br>
                                </div>
                            </fieldset>
                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>添加节点</legend>
                            </fieldset>
                            <div class="layui-row">
                                <div class="layui-col-md5">
                                    <form class="layui-form" id="addNode" action="">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">服务器ip</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="newIp" required  lay-verify="required" placeholder="请输入ip"
                                                       autocomplete="on" class="layui-input" id="newIp" style="width:300px">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">服务器用户名</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="user" required  lay-verify="required" placeholder="请输入user"
                                                       autocomplete="on" class="layui-input" id="user" style="width:300px">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">服务器密码</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="password" required  lay-verify="required" placeholder="请输入password"
                                                       autocomplete="on" class="layui-input" id="password" style="width:300px">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">服务器ssh连接端口号</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="port" required  lay-verify="required" placeholder="请输入ssh连接端口号"
                                                       autocomplete="on" class="layui-input" id="port" style="width:300px">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button type="button" class="layui-btn" id="upload">
                                                    <i class="layui-icon">&#xe67c;</i>上传jar包
                                                </button>
                                                <div class="layui-progress layui-progress-big" lay-filter="demo"
                                                     lay-showPercent="true" style="margin-top:8px;">
                                                    <div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="">
                                                    <i class="layui-icon layui-icon-release"></i>
                                                    立即提交
                                                </button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="layui-col-md7">
                                    <div id="chart" style="width: 500px;height:500px;"></div>
                                </div>
                            </div>
                            <!--/添加节点-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/node.js"></script>

        <script type="text/html" id="headBar">
            <button type="button" class="layui-btn" lay-event="addNode">
                <i class="layui-icon layui-icon-addition"></i> 添加节点
            </button>
            <button type="button" class="layui-btn" lay-event="removeNode">
                <i class="layui-icon layui-icon-delete"></i> 删除节点
            </button>
        </script>

    </body>
</html>