<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>爬虫列表</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>
    <body class="layui-layout-body">
            <!--左边的导航条-->
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                        <li class="layui-nav-item">
                            <a href="javascript:;">WebMaple</a>
                        </li>
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                                主页
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">
                                    <i class="layui-icon layui-icon-layer"></i>
                                    爬虫列表
                                </a></dd>
                                <dd><a href="node">
                                    <i class="layui-icon layui-icon-template-1"></i>
                                    节点列表
                                </a></dd>
                                <dd><a href="timed">
                                    <i class="layui-icon layui-icon-time"></i>
                                    定时任务
                                </a></dd>
                                <dd><a href="template">
                                    <i class="layui-icon layui-icon-template"></i>
                                    爬虫定制化
                                </a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;">
                                <i class="layui-icon layui-icon-username"></i>
                                用户中心
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="user">
                                    <i class="layui-icon layui-icon-tabs"></i>
                                    基本资料
                                </a></dd>
                                <dd><a href="auth">
                                    <i class="layui-icon layui-icon-auz"></i>
                                    资源权限管理
                                </a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/左边的导航条-->

            <!--内容主体区域-->
            <div class="layui-body">
                <div class="layui-container" style="padding: 15px;">
                    <!--tab-->
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">爬虫列表</li>
                            <li>新建爬虫</li>
                            <li>使用模板新建爬虫</li>
                            <li>组件列表</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <!--当前爬虫列表-->
                                <div class="layui-row">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>当前爬虫列表</legend>
                                    </fieldset>
                                    <table class="layui-table" lay-data="{height:550, url:'/spiderList', page:true,
                            id:'spiders'}" lay-filter="spiders" >
                                        <thead>
                                        <tr>
                                            <th lay-data="{field:'uuid', width:170, sort: true}">uuid</th>
                                            <th lay-data="{field:'worker', width:150}">所属worker</th>
                                            <th lay-data="{field:'urls', width:300}">起始url</th>
                                            <th lay-data="{field:'threadNum'}">线程数</th>
                                            <th lay-data="{field:'state', width:100}">当前状态</th>
                                            <th lay-data="{field:'', width:130, toolbar:'#toolBar'}">选项</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!--/当前爬虫列表-->
                                <!-- 修改爬虫表单 -->
                                <form class="layui-form" id="update" style="display:none; padding-top: 50px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">ip地址</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="newIpAddress" required  lay-verify="required" placeholder="请输入ip地址"
                                                   autocomplete="on" class="layui-input" id="newIpAddress" style="width:100px">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">线程数</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="newThreadNum" required  lay-verify="required" placeholder="请输入线程数"
                                                   autocomplete="on" class="layui-input" id="newThreadNum" style="width:100px">
                                        </div>
                                    </div>
                                </form>
                                <!--/修改爬虫表单-->
                            </div>
                            <div class="layui-tab-item">
                                <!--新建爬虫-->
                                <div class="layui-row">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>新建爬虫</legend>
                                    </fieldset>

                                    <!--新建爬虫表单-->
                                    <form class="layui-form" id="createSpider" action="">
                                        <label class="layui-form-label" style="width: 90px;">爬虫uuid</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;!important;" >
                                                        <input type="text" name="uuid" id="uuid"
                                                               class="layui-input" placeholder="请输入uuid(一般为网站域名)"
                                                               required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label class="layui-form-label" style="width: 90px;">爬虫worker</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;">
                                                        <select name="workers" id="workers" lay-verify="required" style="width: 200%;">
                                                            <option value="">请选择爬虫所属worker</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label class="layui-form-label" style="width: 90px;">组件选择</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;!important;">
                                                        <input type="text" name="processor" id="processor"
                                                               class="layui-input" placeholder="请输入processor类"
                                                               required lay-verify="required" autocomplete="off">
                                                    </div>
                                                    <div class="layui-input-inline" style="width: 400px;!important;">
                                                        <div class="layui-form-mid layui-word-aux">网站对应的processor可在上方组件列表中查看</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="layui-form-label" style="width:90px;">组件选择</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;!important;">
                                                        <input type="text" name="downloader" id="downloader"
                                                               class="layui-input" placeholder="请输入downloader类" autocomplete="off">
                                                    </div>
                                                    <div class="layui-input-inline" style="width: 400px;!important;">
                                                        <div class="layui-form-mid layui-word-aux">downloader可在上方组件列表中查看</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="layui-form-label" style="width:90px;">组件选择</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;!important;">
                                                        <input type="text" name="pipeline" id="pipeline"
                                                               class="layui-input" placeholder="请输入pipeline类" autocomplete="off">
                                                    </div>
                                                    <div class="layui-input-inline" style="width: 400px;!important;">
                                                        <div class="layui-form-mid layui-word-aux">网站对应的pipeline可在上方组件列表中查看</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label class="layui-form-label" style="width: 90px;">爬虫线程数</label>
                                        <div class="layui-input-block">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 150px;!important;" >
                                                        <input type="text" name="threadNum" id="threadNum"
                                                               class="layui-input" placeholder="请输入线程数"
                                                               required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <label class="layui-form-label" style="width: 90px;">爬虫起始url</label>
                                        <div class="layui-input-block" id="startUrl">
                                            <div class="layui-input-inline">
                                                <div class="layui-form-item">
                                                    <div class="layui-input-inline" style="width: 300px;!important;" >
                                                        <input type="text" name="startUrls[]"
                                                               class="layui-input"  placeholder="请输入起始url"
                                                               required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                                    </div>
                                                    <div class="layui-input-block" style="padding-left: 500px;">
                                                        <button id="addUrl" type="button" class="layui-btn layui-btn-sm">
                                                            <i class="layui-icon">&#xe654;</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn" lay-submit lay-filter="createSpider">立即提交</button>
                                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--/新建爬虫-->
                            </div>
                            <div class="layui-tab-item">
                                <!--使用模板-->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">
                                        <i class="layui-icon layui-icon-templeate-1"></i>
                                    </label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="templateName" id="templateName" required lay-verify="required"
                                               placeholder="输入模板名称" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" onclick="useTemplate()">
                                            <i class="layui-icon layui-icon-release"></i>
                                            使用模板
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <form class="layui-form" id="template"></form>
                                </div>
                                <!--/使用模板-->
                            </div>
                            <div class="layui-tab-item">
                                <!--组件列表-->
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>爬虫组件列表</legend>
                                </fieldset>
                                <span>提示：在创建爬虫时，请输入组件的全类名，可从表格中直接复制</span>
                                <table class="layui-table" id="components" style="display:none; padding-top: 50px;"
                                       lay-data="{height:400, url:'/componentList', page:true, id:'components'}" lay-filter="components" >
                                    <thead>
                                    <tr>
                                        <th lay-data="{field:'type', width:150}">组件类型</th>
                                        <th lay-data="{field:'name'}">组件全类名</th>
                                        <th lay-data="{field:'worker'}">所属worker</th>
                                        <th lay-data="{field:'site', width:150}">对应网站</th>
                                    </tr>
                                    </thead>
                                </table>
                                <!--/组件列表-->
                            </div>
                        </div>
                    </div>
                    <!--/tab-->
                </div>
            </div>

    <script type="text/javascript" src="../js/spider.js"></script>

    <script type="text/html" id="toolBar">
        <a class="layui-icon layui-icon-play" lay-event="start"></a>
        <a class="layui-icon layui-icon-refresh" lay-event="restart"></a>
        <a class="layui-icon layui-icon-pause" lay-event="stop"></a>
        <a class="layui-icon layui-icon-edit" lay-event="update"></a>
        <a class="layui-icon layui-icon-delete" lay-event="delete"></a>
    </script>

    </body>
</html>