<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>爬虫列表</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>
    <body class="layui-layout-body">
            <!--左边的导航条-->
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                        <li class="layui-nav-item">
                            <a href="javascript:;">WebMaple</a>
                        </li>
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                                主页
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">
                                    <i class="layui-icon layui-icon-layer"></i>
                                    爬虫列表
                                </a></dd>
                                <dd><a href="node">
                                    <i class="layui-icon layui-icon-template-1"></i>
                                    节点列表
                                </a></dd>
                                <dd><a href="timed">
                                    <i class="layui-icon layui-icon-time"></i>
                                    定时任务
                                </a></dd>
                                <dd><a href="javascript:;">
                                    <i class="layui-icon layui-icon-template"></i>
                                    爬虫组件与定制化
                                </a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:;">
                                <i class="layui-icon layui-icon-username"></i>
                                用户中心
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;">
                                    <i class="layui-icon layui-icon-tabs"></i>
                                    基本资料
                                </a></dd>
                                <dd><a href="javascript:;">
                                    <i class="layui-icon layui-icon-auz"></i>
                                    资源权限管理
                                </a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/左边的导航条-->

            <!--内容主体区域-->
            <div class="layui-body">
                <div class="layui-container" style="padding: 15px;">

                    <!--当前爬虫列表-->
                    <div class="layui-row">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>当前爬虫列表</legend>
                        </fieldset>
                        <table class="layui-table" lay-data="{height:450, url:'/spiderList', page:true,
                            id:'spiders'}" lay-filter="spiders" >
                            <thead>
                            <tr>
                                <th lay-data="{field:'uuid', width:170, sort: true}">uuid</th>
                                <th lay-data="{field:'ip', width:150}">ip地址</th>
                                <th lay-data="{field:'urls', width:500}">起始url</th>
                                <th lay-data="{field:'threadNum'}">线程数</th>
                                <th lay-data="{field:'state', width:100}">当前状态</th>
                                <th lay-data="{field:'', width:130, toolbar:'#toolBar'}">选项</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!--/当前爬虫列表-->

                    <!--新建爬虫-->
                    <div class="layui-row">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>新建爬虫</legend>
                        </fieldset>
                        <!--新建爬虫表单-->
                        <form class="layui-form" id="createSpider" action="">
                            <label class="layui-form-label" style="width: 90px;">爬虫uuid</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;!important;" >
                                            <input type="text" name="uuid"
                                                   class="layui-input" placeholder="请输入uuid(一般为网站域名)"
                                                   required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="layui-form-label" style="width: 90px;">爬虫ip</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;">
                                            <select name="ip" lay-verify="required" style="width: 200%;">
                                                <option value="0">请选择爬虫ip</option>
                                                <option value="1">101.87.23.19</option>
                                                <option value="2">144.34.188.164</option>
                                                <option value="3">111.22.23.44</option>
                                                <option value="4">111.55.33.22</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="layui-form-label" style="width: 90px;">组件选择</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;!important;">
                                            <input type="text" name="processor"
                                                   class="layui-input" placeholder="请输入processor类"
                                                   required lay-verify="required" autocomplete="off">
                                        </div>
                                        <div class="layui-input-inline" style="width: 200px;!important;">
                                            <div class="layui-form-mid layui-word-aux">不知道网站对应的processor？</div>
                                        </div>
                                        <div class="layui-input-inline" style="width: 150px;!important;">
                                            <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                                <i class="layui-icon layui-icon-unlink"></i> 去查看
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="layui-form-label" style="width:90px;">组件选择</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;!important;">
                                            <input type="text" name="downloader"
                                                   class="layui-input" placeholder="请输入downloader类" autocomplete="off">
                                        </div>
                                        <div class="layui-input-inline" style="width: 200px;!important;">
                                            <div class="layui-form-mid layui-word-aux">不知道有哪些downloader？</div>
                                        </div>
                                        <div class="layui-input-inline" style="width: 150px;!important;">
                                            <button type="button" class="layui-btn layui-btn-radius layui-btn-sm">
                                                <i class="layui-icon layui-icon-unlink"></i> 去查看
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="layui-form-label" style="width: 90px;">爬虫线程数</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 150px;!important;" >
                                            <input type="text" name="threadNum"
                                                   class="layui-input" placeholder="请输入线程数"
                                                   required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="layui-form-label" style="width: 90px;">爬虫起始url</label>
                            <div class="layui-input-block" id="startUrl">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;!important;" >
                                            <input type="text" name="startUrls[]"
                                                   class="layui-input"  placeholder="请输入起始url"
                                                   required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                        </div>
                                        <div class="layui-input-block" style="padding-left: 500px;">
                                            <button id="addUrl" type="button" class="layui-btn layui-btn-warm layui-btn-sm">
                                                <i class="layui-icon">&#xe654;</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="layui-form-label" style="width: 90px;">爬虫终止url</label>
                            <div class="layui-input-block" id="endUrl">
                                <div class="layui-input-inline">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline" style="width: 300px;!important;" >
                                            <input type="text" name="endUrl"
                                                   class="layui-input"  placeholder="请输入终止url"
                                                   required lay-verify="required"  autocomplete="off" style="width: 200%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--/新建爬虫-->

                    <!-- 修改爬虫表单 -->
                    <form class="layui-form" id="update" style="display:none; padding-top: 50px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">ip地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入ip地址"
                                       autocomplete="on" class="layui-input" id="newIpAddress" style="width:100px">
                            </div>
                            <label class="layui-form-label">线程数</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入线程数"
                                       autocomplete="on" class="layui-input" id="newThreadNum" style="width:100px">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    <script type="text/javascript" src="../js/spider.js"></script>

    <script type="text/html" id="toolBar">
        <a class="layui-icon layui-icon-play" lay-event="start"></a>
        <a class="layui-icon layui-icon-refresh" lay-event="restart"></a>
        <a class="layui-icon layui-icon-pause" lay-event="stop"></a>
        <a class="layui-icon layui-icon-edit" lay-event="update"></a>
        <a class="layui-icon layui-icon-delete" lay-event="delete"></a>
    </script>

    </body>
</html>