<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>定时任务</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>

    <body class="layui-layout-body">
        <!--左边的导航条-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">WebMaple</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                            主页
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="spider">
                                <i class="layui-icon layui-icon-layer"></i>
                                爬虫列表
                            </a></dd>
                            <dd><a href="node">
                                <i class="layui-icon layui-icon-template-1"></i>
                                节点列表
                            </a></dd>
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-time"></i>
                                定时任务
                            </a></dd>
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-template"></i>
                                爬虫组件与定制化
                            </a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            用户中心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-tabs"></i>
                                基本资料
                            </a></dd>
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-auz"></i>
                                资源权限管理
                            </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--/左边的导航条-->

        <!--内容主体区域-->
        <div class="layui-body">
            <div style="padding: 15px;">
                <div class="layui-container">
                    <!--定时任务列表-->
                    <div class="layui-row">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>定时任务列表</legend>
                        </fieldset>
                        <table class="layui-table" lay-data="{height:450, url:'/timedJobs', page:true,
                            id:'timedJobs', toolbar: '#headBar'}" lay-filter="timedJobs" >
                            <thead>
                            <tr>
                                <th lay-data="{checkbox:true}"></th>
                                <th lay-data="{field:'ip', width:150}">ip地址</th>
                                <th lay-data="{field:'worker', width:150}">worker名称</th>
                                <th lay-data="{field:'spiderUUID', width:200}">爬虫uuid</th>
                                <th lay-data="{field:'spiderSite', width:200}">爬取站点</th>
                                <th lay-data="{field:'type', width:150}">定时任务类型</th>
                                <th lay-data="{field:'maintain'}">定时方式</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!--/定时任务列表-->
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/spider.js"></script>

        <script type="text/html" id="headBar">
            <button type="button" class="layui-btn">
                <i class="layui-icon layui-icon-addition"></i> 添加定时任务
            </button>
            <button type="button" class="layui-btn">
                <i class="layui-icon layui-icon-delete"></i> 删除定时任务
            </button>
        </script>

    </body>
</html>