<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>定时任务</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
    </head>

    <body class="layui-layout-body">
        <!--左边的导航条-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">WebMaple</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                            主页
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="spider">
                                <i class="layui-icon layui-icon-layer"></i>
                                爬虫列表
                            </a></dd>
                            <dd><a href="node">
                                <i class="layui-icon layui-icon-template-1"></i>
                                节点列表
                            </a></dd>
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-time"></i>
                                定时任务
                            </a></dd>
                            <dd><a href="template">
                                <i class="layui-icon layui-icon-template"></i>
                                爬虫定制化
                            </a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            用户中心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="user">
                                <i class="layui-icon layui-icon-tabs"></i>
                                基本资料
                            </a></dd>
                            <dd><a href="auth">
                                <i class="layui-icon layui-icon-auz"></i>
                                资源权限管理
                            </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--/左边的导航条-->

        <!--内容主体区域-->
        <div class="layui-body">
            <div style="padding: 15px;">
                <div class="layui-container">
                    <!--tab-->
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">定时任务列表</li>
                            <li>添加定时任务</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <!--定时任务列表-->
                                <div class="layui-row">
                                    <fieldset class="layui-elem-field layui-field-title">
                                        <legend>定时任务列表</legend>
                                    </fieldset>
                                    <table class="layui-table" lay-data="{height:550, url:'/timedJobs', page:true,
                            id:'timedJobs', toolbar: '#headBar'}" lay-filter="timedJobs" >
                                        <thead>
                                        <tr>
                                            <th lay-data="{checkbox:true}"></th>
                                            <th lay-data="{field:'ip', width:150}">ip地址</th>
                                            <th lay-data="{field:'worker', width:150}">worker名称</th>
                                            <th lay-data="{field:'spiderUUID', width:150}">爬虫uuid</th>
                                            <th lay-data="{field:'spiderSite', width:150}">爬取站点</th>
                                            <th lay-data="{field:'type', width:150}">定时任务类型</th>
                                            <th lay-data="{field:'maintain'}">定时方式</th>
                                            <th lay-data="{field:'state', width:100}">当前状态</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!--/定时任务列表-->
                            </div>
                            <div class="layui-tab-item">
                                <fieldset class="layui-elem-field">
                                    <legend>定时任务使用说明</legend>
                                    <div class="layui-field-box">
                                        使用定时爬虫，需要设定爬虫间隔多长时间启动一次，以及每次启动的停止条件。<br>
                                        定时任务类型：爬虫爬取一定的url数后停止（对应urlNum）；爬虫运行一定时长后停止（对应time）。 <br>
                                        定时数：如果选择urlNum类型，则为爬取的url数目；如果选择time类型，则为运行的分钟数。 <br>
                                        定时间隔：爬虫每隔多少时间启动一次。
                                    </div>
                                </fieldset>
                                <!--添加定时任务-->
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>添加定时任务</legend>
                                </fieldset>
                                <form class="layui-form" id="addTimedSpider" action="createTimedSpider">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">worker名称</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="worker" required  lay-verify="required" placeholder="请输入worker名称"
                                                   autocomplete="on" class="layui-input" id="worker" style="width:300px">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">爬虫uuid</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="uuid" required  lay-verify="required" placeholder="请输入爬虫uuid"
                                                   autocomplete="on" class="layui-input" id="uuid" style="width:300px">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">定时任务类型</label>
                                        <div class="layui-input-block" style="width:300px">
                                            <select name="type" id="type" lay-verify="required">
                                                <option value="">请选择定时任务类型</option>
                                                <option value="urlNum">urlNum</option>
                                                <option value="time">time</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">定时数</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="maintain" required  lay-verify="required" placeholder="请输入定时数"
                                                   autocomplete="on" class="layui-input" id="maintain" style="width:300px">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">定时间隔</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="cronNum" required  lay-verify="required" placeholder="请输入定时间隔"
                                                   autocomplete="on" class="layui-input" id="cronNum" style="width:300px">
                                            <input type="radio" name="cronUnit" value="h" title="小时" checked>
                                            <input type="radio" name="cronUnit" value="m" title="分钟">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="addTimedSpider">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </form>
                                <!--/添加定时任务-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/timed.js"></script>

        <script type="text/html" id="headBar">
            <button type="button" class="layui-btn">
                <i class="layui-icon layui-icon-play"></i> 启动定时任务
            </button>
            <button type="button" class="layui-btn layui-btn-normal">
                <i class="layui-icon layui-icon-pause"></i> 暂停定时任务
            </button>
            <button type="button" class="layui-btn layui-btn-primary">
                <i class="layui-icon layui-icon-delete"></i> 删除定时任务
            </button>
        </script>

    </body>
</html>