<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>用户基本资料</title>
        <link rel="stylesheet" href="/layui/css/layui.css">
        <script type="text/javascript" src="/layui/layui.js"></script>
        <script src="/echarts/dist/echarts.min.js"></script>
    </head>

    <body class="layui-layout-body layui-bg-gray">
        <!--左边的导航条-->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree layui-nav-side"  lay-filter="nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">WebMaple</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="index">
                            <i class="layui-icon layui-icon-home"></i>
                            主页
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="spider">
                                <i class="layui-icon layui-icon-layer"></i>
                                爬虫列表
                            </a></dd>
                            <dd><a href="node">
                                <i class="layui-icon layui-icon-template-1"></i>
                                节点列表
                            </a></dd>
                            <dd><a href="timed">
                                <i class="layui-icon layui-icon-time"></i>
                                定时任务
                            </a></dd>
                            <dd><a href="template">
                                <i class="layui-icon layui-icon-template"></i>
                                爬虫定制化
                            </a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-username"></i>
                            用户中心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">
                                <i class="layui-icon layui-icon-tabs"></i>
                                基本资料
                            </a></dd>
                            <dd><a href="auth">
                                <i class="layui-icon layui-icon-auz"></i>
                                资源权限管理
                            </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--/左边的导航条-->

        <!--内容主体区域-->
        <div class="layui-body">
            <div style="padding: 15px;">
                <div class="layui-container">
                    <div class="padding: 20px; background-color: #F2F2F2;">
                        <!--数据总览-->
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md4">
                                <!--用户名-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-body">
                                        <i class="layui-icon layui-icon-username" style="font-size: 30px;"></i>
                                        <span id="userName">user1</span>
                                        <button type="button" class="layui-btn layui-btn-radius layui-btn-sm" onclick="editNickname()">
                                            <i class="layui-icon layui-icon-edit"></i> 编辑
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <!--密码-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-body">
                                        <i class="layui-icon layui-icon-password" style="font-size: 30px;"></i>
                                        <span id="password">******</span>
                                        <button type="button" class="layui-btn layui-btn-radius layui-btn-sm" onclick="editPassword()">
                                            <i class="layui-icon layui-icon-edit"></i> 修改密码
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md4">
                                <!--账号权限-->
                                <div class="layui-card" style="height: 150px">
                                    <div class="layui-card-body">
                                        <i class="layui-icon layui-icon-auz" style="font-size: 30px;"></i>
                                        <span id="auth">普通用户</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/数据总览-->

                        <!--用户一周内的日访问量-->
                        <div class="layui-row">
                            <div id="visits" style="height:600px;"></div>
                        </div>
                        <!--/用户一周内的日访问量-->
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../js/user.js"></script>
    </body>
</html>